/////////////////////////
///
///
///
///
///
///
///
///
///

.impact-numbers {
  width: 80%;
  max-width: 120rem;
  height: 50rem;
  border: 1px solid black;
  border-radius: 2.4rem;
  margin-inline: auto;
}
