.about {
  width: 100%;
  background: url(../../assets/images/change-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -70px;
  color: $color-white;

  &__container--1 {
    width: 100%;
    background: url(../../assets/images/change-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30rem 0 5rem;
  }

  &__arrow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
  }

  &__container--2 {
    background-color: $color-white;
    color: $color-black;
    padding: 10rem 5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 1.6rem 1.6rem 0 0;

    &__left {
      max-width: 43rem;
    }

    &__right {
      max-width: 66rem;
    }
  }
}
