*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: calc(60.2% + 0.390625vw);
  scroll-behavior: smooth;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  // adjusting size of overall page at 1000px mark
  html {
    font-size: calc(52.2% + 0.390625vw);
  }
}

body {
  box-sizing: border-box;
}
